In [1]:
import pandas as pd
import numpy as np

In [2]:
root_dir = '/Users/kessapassa/OneDrive/research_log/2018_Graduate/'

In [3]:
df = pd.read_csv(root_dir+'6_4seed123.csv', encoding='Shift_JISx0213')
df.head()

      id         type  time road        x         y  area
0  57426      Vehicle    95      -1955.81  -941.505   430
1  39467      Vehicle   122      -2036.16 -2357.330   330
2  65310      Vehicle   125      -1797.31 -2928.100   330
3  60532   Pedestrian   143      -1833.65 -2422.330   330
4  36310      Vehicle   148      -2035.70  -862.249   430

In [4]:
def interpolate_time(time):
    times_list = [3600 * (i + 1) for i in range(6)]

    times = []
    is_arrived = True

    if time in times_list:
        times = time
        is_arrived = False
    elif 0 < time < times_list[0]:
        times = times_list[0]
    elif times_list[0] < time < times_list[1]:
        times = times_list[1]
    elif times_list[1] < time < times_list[2]:
        times = times_list[2]
    elif times_list[2] < time < times_list[3]:
        times = times_list[3]
    elif times_list[3] < time < times_list[4]:
        times = times_list[4]
    elif times_list[4] < time < times_list[5]:
        times = times_list[5]

    return pd.Series([times, is_arrived])

In [5]:
df['is_arrived'] = False

In [6]:
df[['time', 'is_arrived']] = df['time'].apply(interpolate_time)
df.head()

      id         type  time road        x         y  area  is_arrived
0  57426      Vehicle  3600      -1955.81  -941.505   430        True
1  39467      Vehicle  3600      -2036.16 -2357.330   330        True
2  65310      Vehicle  3600      -1797.31 -2928.100   330        True
3  60532   Pedestrian  3600      -1833.65 -2422.330   330        True
4  36310      Vehicle  3600      -2035.70  -862.249   430        True

In [7]:
def piyo(time):
    return str(int(time)*5)

In [8]:
df['3600'] = df[df['is_arrived'] == True, '3600'].apply(piyo)
df

TypeError: 'Series' objects are mutable, thus they cannot be hashed