In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from sklearn.linear_model import LinearRegression as LR

In [2]:
root_dir = '/Users/kessapassa/OneDrive/research_log/2018_Graduate/Interpolated_OD/'

In [3]:
dir_list = ['2_8', '4_6', '6_4', '8_2']
seed_list = [str(123 + i) for i in range(3)]

csv_array = {}
for _dir in dir_list:
    csv_array[_dir] = {}
    for _seed in seed_list:
        csv_array[_dir][_seed] = pd.read_csv(root_dir+_dir+'seed'+_seed+'.csv', index_col=0)
        csv_array[_dir][_seed].fillna(-1, inplace=True)
#         csv_array[_dir][_seed] = csv_array[_dir][_seed].apply(lambda x: str(x))
#         csv_array[_dir][_seed].dropna(how='any', inplace=True)

# 重回帰分析

In [4]:
times_list = [str(3600 * (i + 1)) for i in range(6)]

concat_list = {}
for _dir in dir_list:
    tmp = []
    tmp.append(csv_array[_dir]['123'])
    tmp.append(csv_array[_dir]['124'])
    
    concat_list[_dir] = pd.concat(tmp, sort=True)
    concat_list[_dir].reset_index(drop=True ,inplace=True)
    concat_list[_dir] = concat_list[_dir].loc[:, ['id', 'type']+times_list+['is_arrived']]

In [5]:
all_csv = pd.concat(concat_list)
all_csv.reset_index(drop=True ,inplace=True)

In [6]:
# target_dir = '6_4'
# train = concat_list[target_dir]
train = all_csv

In [7]:
Y = train['21600']

In [8]:
X = train.drop(['id', 'type', '21600', 'is_arrived'], axis=1)

In [9]:
model = LR()
model.fit(X, Y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [10]:
model.coef_

array([ 2.72026374e-03, -3.19224707e-03,  5.37317892e-04,  6.67992142e-03,
        9.79788718e-01])

In [11]:
model.intercept_

0.2685183316924622

In [12]:
model.score(X, Y)

0.9373861293503306

In [13]:
test = csv_array['2_8']['125']
testX = test.drop(['id', 'type', '21600', 'is_arrived'], axis=1)
# test = pd.DataFrame([
#     [10, 100, 200, 300, 40]
# ])
# testX = test

In [14]:
pred = model.predict(testX)
pred

array([325.82472966, 424.47812703, 434.34346677, ..., 424.47812703,
       434.34346677, 325.82472966])

In [15]:
test['pred'] = pred
test.drop('is_arrived', axis=1)
# test

         id      type   3600   7200  10800  14400  18000  21600        pred
0     39168   Vehicle  330.0  330.0  330.0  330.0  330.0  330.0  325.824730
1     35139   Vehicle  430.0  430.0  430.0  430.0  430.0  430.0  424.478127
2     48369   Vehicle  440.0  440.0  440.0  440.0  440.0  440.0  434.343467
3     63214   Vehicle  440.0  440.0  440.0  440.0  440.0  440.0  434.343467
4     58522   Vehicle  440.0  440.0  440.0  440.0  440.0  440.0  434.343467
5     36158   Vehicle  330.0  330.0  330.0  330.0  330.0  330.0  325.824730
6     53415   Vehicle  430.0  430.0  430.0  430.0  430.0  430.0  424.478127
7     56749   Vehicle  440.0  440.0  440.0  440.0  440.0  440.0  434.343467
8     45106   Vehicle  430.0  430.0  430.0  430.0  430.0  430.0  424.478127
9     34415   Vehicle  340.0  340.0  340.0  340.0  340.0  340.0  335.690069
10    61094   Vehicle  330.0  330.0  330.0  330.0  330.0  330.0  325.824730
11    62631   Vehicle  430.0  430.0  430.0  430.0  430.0  430.0  424.478127
12    54947   Vehicle  430.0  430.0  430.0  430.0  430.0  430.0  424.478127
13    62287   Vehicle  440.0  440.0  440.0  440.0  440.0  440.0  434.343467
14    41423   Vehicle  440.0  440.0  440.0  440.0  440.0  440.0  434.343467
15    41850   Vehicle  430.0  430.0  430.0  430.0  430.0  430.0  424.478127
16    48945   Vehicle  330.0  330.0  330.0  330.0  330.0  330.0  325.824730
17    44751   Vehicle  420.0  420.0  420.0  420.0  420.0  420.0  414.612787
18    54465   Vehicle  430.0  430.0  430.0  430.0  430.0  430.0  424.478127
19    48745   Vehicle  330.0  330.0  330.0  330.0  330.0  330.0  325.824730
20    59755   Vehicle  330.0  330.0  330.0  330.0  330.0  330.0  325.824730
21    44770   Vehicle  440.0  440.0  440.0  440.0  440.0  440.0  434.343467
22    46086   Vehicle  430.0  430.0  430.0  430.0  430.0  430.0  424.478127
23    64482   Vehicle  340.0  340.0  340.0  340.0  340.0  340.0  335.690069
24    37157   Vehicle  340.0  340.0  340.0  340.0  340.0  340.0  335.690069
25    59865   Vehicle  440.0  440.0  440.0  440.0  440.0  440.0  434.343467
26    37927   Vehicle  330.0  330.0  330.0  330.0  330.0  330.0  325.824730
27    63604   Vehicle  330.0  330.0  330.0  330.0  330.0  330.0  325.824730
28    44052   Vehicle  340.0  340.0  340.0  340.0  340.0  340.0  335.690069
29    50576   Vehicle  430.0  430.0  430.0  430.0  430.0  430.0  424.478127
...     ...       ...    ...    ...    ...    ...    ...    ...         ...
4882  54017   Vehicle  340.0  340.0  340.0  340.0  340.0  340.0  335.690069
4883  59296   Vehicle  340.0  340.0  340.0  340.0  340.0  340.0  335.690069
4884  40053   Vehicle  230.0  230.0  230.0  230.0  230.0  230.0  227.171332
4885  52287   Vehicle  340.0  340.0  340.0  340.0  340.0  340.0  335.690069
4886  41230   Vehicle  230.0  230.0  230.0  230.0  230.0  230.0  227.171332
4887  45394   Vehicle  330.0  330.0  330.0  330.0  330.0  330.0  325.824730
4888  65583   Vehicle  340.0  340.0  340.0  340.0  340.0  340.0  335.690069
4889  65140   Vehicle  430.0  430.0  430.0  430.0  430.0  430.0  424.478127
4890  51046   Vehicle  430.0  430.0  430.0  430.0  430.0  430.0  424.478127
4891  58643   Vehicle  230.0  230.0  230.0  230.0  230.0  230.0  227.171332
4892  50241   Vehicle  340.0  340.0  340.0  340.0  340.0  340.0  335.690069
4893  35125   Vehicle  340.0  340.0  340.0  340.0  340.0  340.0  335.690069
4894  39312   Vehicle  440.0  440.0  440.0  440.0  440.0  440.0  434.343467
4895  59572   Vehicle  440.0  440.0  440.0  440.0  440.0  440.0  434.343467
4896  50488   Vehicle  340.0  340.0  340.0  340.0  340.0  340.0  335.690069
4897  39034   Vehicle  440.0  440.0  440.0  440.0  440.0  440.0  434.343467
4898  35553   Vehicle  330.0  330.0  330.0  330.0  330.0  330.0  325.824730
4899  42156   Vehicle  340.0  340.0  340.0  340.0  340.0  340.0  335.690069
4900  59763   Vehicle  430.0  430.0  430.0  430.0  430.0  430.0  424.478127
4901  35091   Vehicle  340.0  340.0  340.0  340.0  340.0  340.0  335.690069
4902  63325   Vehicle  430.0  430.0  430.0  430.0  430.0  430.0  424.478127
4903  61414   Vehicle  430.0  430.0  430.0  430.0  430.0  430.0  424.478127
4904  49341   Vehicle  550.0  550.0  550.0  550.0  550.0  550.0  542.862204
4905  60820   Vehicle  120.0  120.0  120.0  120.0  120.0  120.0  118.652595
4906  39184   Vehicle  430.0  430.0  430.0  430.0  430.0  430.0  424.478127
4907  62042   Vehicle  420.0  420.0  420.0  420.0  420.0  420.0  414.612787
4908  63347   Vehicle  440.0  440.0  440.0  440.0  440.0  440.0  434.343467
4909  65151   Vehicle  430.0  430.0  430.0  430.0  430.0  430.0  424.478127
4910  62080   Vehicle  440.0  440.0  440.0  440.0  440.0  440.0  434.343467
4911  34706   Vehicle  330.0  330.0  330.0  330.0  330.0  330.0  325.824730

[4912 rows x 9 columns]