In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from sklearn.linear_model import LinearRegression as LR

In [2]:
root_dir = '/Users/kessapassa/OneDrive/research_log/logs/2D/'

In [3]:
dir_list = '8_2'
seed = 124
census = pd.read_csv(root_dir+'census'+dir_list+'_seed'+str(seed)+'.csv', index_col=0)
vehicles = pd.read_csv(root_dir+'vehicles'+dir_list+'_seed'+str(seed)+'.csv', index_col=0)

In [4]:
pd.set_option("display.max_rows", 216)

# 自動車 = 道路交通センサスx1 + 時間x2 + エリアx3

In [5]:
census.head()

     time  area  people
0  3600.0   0.0     0.0
1  3600.0   1.0     0.0
2  3600.0   2.0     0.0
3  3600.0   3.0     0.0
4  3600.0   4.0     0.0

In [6]:
vehicles.head()

     time  area  people
0  3600.0   0.0     0.0
1  3600.0   1.0     0.0
2  3600.0   2.0     0.0
3  3600.0   3.0     0.0
4  3600.0   4.0     0.0

In [7]:
train = pd.DataFrame()
train['time'] = vehicles['time']
train['area'] = vehicles['area']
train['people_census'] = census['people']
train['people_vehicles'] = vehicles['people']
train = train[train['people_census'] > 10]
train

        time  area  people_census  people_vehicles
6     3600.0   6.0           15.0             31.0
13    3600.0  13.0           36.0             46.0
14    3600.0  14.0           55.0             73.0
15    3600.0  15.0           20.0             45.0
20    3600.0  20.0           13.0             30.0
21    3600.0  21.0          455.0           1618.0
22    3600.0  22.0          117.0            999.0
27    3600.0  27.0          470.0           1510.0
28    3600.0  28.0          352.0           1116.0
33    3600.0  33.0           14.0             64.0
34    3600.0  34.0           13.0             22.0
57    7200.0  21.0          480.0           2320.0
58    7200.0  22.0          172.0           1356.0
63    7200.0  27.0          530.0           2469.0
64    7200.0  28.0          328.0           1524.0
93   10800.0  21.0          435.0           2151.0
94   10800.0  22.0          179.0           1366.0
99   10800.0  27.0          521.0           2463.0
100  10800.0  28.0          327.0           1489.0
129  14400.0  21.0          450.0           2144.0
130  14400.0  22.0          159.0           1281.0
135  14400.0  27.0          519.0           2390.0
136  14400.0  28.0          288.0           1277.0
165  18000.0  21.0          457.0           2141.0
166  18000.0  22.0          176.0           1264.0
171  18000.0  27.0          472.0           2307.0
172  18000.0  28.0          241.0           1055.0
201  21600.0  21.0          432.0           2092.0
202  21600.0  22.0          188.0           1166.0
207  21600.0  27.0          457.0           2301.0
208  21600.0  28.0          205.0            887.0

In [9]:
# X = census['people'].values.reshape(-1, 1)
# Y = vehicles['people'].values.reshape(-1, 1)
X = train['people_census'].values.reshape(-1, 1)
Y = train['people_vehicles'].values.reshape(-1, 1)

In [10]:
model = LR()

In [11]:
model.fit(X, Y)

ValueError: could not convert string to float: 'kokoko'

In [ ]:
model.coef_

In [ ]:
model.intercept_

In [ ]:
model.score(X, Y)

In [ ]:
testX = pd.read_csv(root_dir+'census'+dir_list+'_seed'+str(seed+1)+'.csv', index_col=0)
pred = model.predict(testX['people'].values.reshape(-1, 1))
pred

In [ ]:
# plt.plot(X, pred)

In [ ]:
result = pd.DataFrame()
result['time'] = vehicles['time']
result['area'] = vehicles['area']
result['people_census'] = census['people']
result['people_vehicles'] = vehicles['people']
result['pred'] = pred
result['diff'] = result['people_vehicles'] - result['pred']
result['percent'] = result['people_vehicles'] / result['pred']
result['occupancy'] = result['people_census'] / result['people_census'].sum()
result = result.loc[result['people_census'] > 10]
result.sort_values(['percent', 'occupancy'], ascending=[False, False])
# result

In [ ]:
result.shape

In [ ]:
accentable_range = 0.25
extract = result[(1-accentable_range <= result['percent']) & (result['percent'] <= 1+accentable_range)]
extract.sort_values('occupancy', ascending=False)

In [ ]:
extract.shape

In [ ]:
result['pred'].sum()

In [ ]:
result['people_vehicles'].sum()

In [ ]:
result['people_census'].sum()