In [1]:
import pandas as pd
import numpy as np
from pandas import Series,DataFrame
from matplotlib import pyplot as plt
%matplotlib inline
from sklearn.linear_model import LinearRegression as LR

In [2]:
mobile = pd.read_csv('./Mobile.csv', index_col=0)
census = pd.read_csv('./Census.csv', index_col=0)
vehicles = pd.read_csv('./Vehicles.csv', index_col=0)
pedestrians = pd.read_csv('./Pedestrians.csv', index_col=0)

mp = pd.read_csv('./Mobile_Pickup.csv',  index_col=0)
vp = pd.read_csv('./Vehicles_Pickup.csv',  index_col=0)
cp = pd.read_csv('./Census_Pickup.csv',  index_col=0)
pp = pd.read_csv('./Pedestrians_Pickup.csv',  index_col=0)

In [3]:
X = cp
Y = vp

In [4]:
X

      720  1080  1440  1800
Area
12    1.0   1.5   1.2   2.0
17    3.0   2.0   4.1   3.4
18    2.6   2.5   2.7   3.5

In [5]:
model = LR()

In [6]:
model.fit(X, Y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [7]:
model.coef_

array([[  4.62837587e-01,  -3.95283063e-01,   1.36947086e+00,
          3.57752773e-04],
       [  2.39734858e-01,  -7.73522245e-01,   1.48667202e+00,
         -3.60041040e-01],
       [  3.92934045e-01,  -9.60363693e-01,   2.01650388e+00,
         -3.95391064e-01],
       [  5.07009929e-01,  -1.42493604e-01,   1.10313405e+00,
          1.84384429e-01]])

In [8]:
model.intercept_

array([ 1.18600647,  2.95662416,  3.31858897,  2.11420076])

In [16]:
model.score(X, Y)

1.0

In [15]:
# coefficient = pd.DataFrame([0 for i in range(4)])
# coefficient['name'] = pd.DataFrame(X.columns)
# coefficient['coefficient'] = pd.DataFrame(model.coef_)
coefficient = pd.DataFrame(model.coef_)
coefficient

          0         1         2         3
0  0.462838 -0.395283  1.369471  0.000358
1  0.239735 -0.773522  1.486672 -0.360041
2  0.392934 -0.960364  2.016504 -0.395391
3  0.507010 -0.142494  1.103134  0.184384

In [38]:
coefficient.iloc[2:]

          0         1         2         3
2  0.392934 -0.960364  2.016504 -0.395391
3  0.507010 -0.142494  1.103134  0.184384

In [40]:
coefficient = coefficient.rename(columns={0: '720', 1: '1080', 2: '1440', 3: '1800'})
coefficient

        720      1080      1440      1800
0  0.462838 -0.395283  1.369471  0.000358
1  0.239735 -0.773522  1.486672 -0.360041
2  0.392934 -0.960364  2.016504 -0.395391
3  0.507010 -0.142494  1.103134  0.184384