In [1]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression as LR

In [2]:
root_dir = '/Users/kessapassa/OneDrive/research_log/logs/output/'

In [3]:
dir_list = '6_4'
mobile = pd.read_csv(root_dir+'mobile'+dir_list+'.csv', index_col=0)
census = pd.read_csv(root_dir+'census'+dir_list+'.csv', index_col=0)
vehicles = pd.read_csv(root_dir+'vehicles'+dir_list+'.csv', index_col=0)
pedestrians = pd.read_csv(root_dir+'pedestrians'+dir_list+'.csv', index_col=0)

In [4]:
loc_list = [21, 22, 27, 28]
mobile = mobile.loc[loc_list]
census = census.loc[loc_list]
vehicles = vehicles.loc[loc_list]
pedestrians = pedestrians.loc[loc_list]

In [5]:
mobile

      3600    7200   10800   14400   18000   21600
21  1137.4  1171.0   878.4   738.9   690.5   647.5
22   533.2   630.1   466.0   394.0   365.0   331.1
27  1082.9  1522.4  1345.1  1188.3  1132.4  1103.8
28   546.1   425.6   248.8   167.0   146.6   125.3

In [6]:
census

     3600   7200  10800  14400  18000  21600
21  271.6  279.4  209.2  185.0  173.3  162.1
22   75.1  112.7   98.9   97.1   90.3   81.5
27  305.7  386.2  314.5  270.1  258.4  250.7
28  135.5  114.7   65.5   49.1   37.2   29.9

In [7]:
vehicles

     3600    7200   10800   14400   18000   21600
21  995.8  1126.9   869.1   737.7   690.2   647.5
22  427.9   602.5   459.0   392.2   364.7   331.1
27  907.6  1477.2  1334.6  1185.6  1131.3  1103.8
28  436.4   394.1   242.1   165.6   146.0   125.3

In [8]:
pedestrians

     3600  7200  10800  14400  18000  21600
21  141.6  44.1    9.3    1.2    0.3    0.0
22  105.3  27.6    7.0    1.8    0.3    0.0
27  175.3  45.2   10.5    2.7    1.1    0.0
28  109.7  31.5    6.7    1.4    0.6    0.0

# 道路交通センサスを補間するαを求める

In [9]:
# a = (vehicles[['3600', '7200', '10800']] / census[['3600', '7200', '10800']]).mean().mean()
a = (vehicles / census).mean().mean()
a

4.070535902925807

In [10]:
a * census

,3600,7200,10800,14400,18000,21600
21,1105.557551,1137.307731,851.556111,753.049142,705.423872,659.833870
22,305.697246,458.749396,402.576001,395.249036,367.569392,331.748676
27,1244.362826,1572.040966,1280.183541,1099.451747,1051.826477,1020.483351
28,551.557615,466.890468,266.620102,199.863313,151.423936,121.709023

In [11]:
vehicles

     3600    7200   10800   14400   18000   21600
21  995.8  1126.9   869.1   737.7   690.2   647.5
22  427.9   602.5   459.0   392.2   364.7   331.1
27  907.6  1477.2  1334.6  1185.6  1131.3  1103.8
28  436.4   394.1   242.1   165.6   146.0   125.3

# 歩行者 = モバイル空間統計 - α*道路交通センサス

In [12]:
P = mobile - a * census
P.sum().sum()

516.6686103096582

In [13]:
pedestrians.sum().sum()

723.1999999999999

# 自動車 = モバイル空間統計 - 歩行者

In [14]:
V = mobile - P
V.sum().sum()

16500.73138969034

In [15]:
vehicles.sum().sum()

16294.2

# エリア / 合計 で割合を求める

In [16]:
censusPercentage = census / census.sum().sum()
censusPercentage

        3600      7200     10800     14400     18000     21600
21  0.067001  0.068925  0.051607  0.045637  0.042751  0.039988
22  0.018526  0.027802  0.024397  0.023953  0.022276  0.020105
27  0.075413  0.095271  0.077583  0.066630  0.063744  0.061845
28  0.033426  0.028295  0.016158  0.012112  0.009177  0.007376

# 道路交通センサスのエリア毎の占有率 * 推定エリア全体の人数

In [17]:
Vsum =  censusPercentage * V.sum().sum()
Vsum

,3600,7200,10800,14400,18000,21600
21,1105.557551,1137.307731,851.556111,753.049142,705.423872,659.833870
22,305.697246,458.749396,402.576001,395.249036,367.569392,331.748676
27,1244.362826,1572.040966,1280.183541,1099.451747,1051.826477,1020.483351
28,551.557615,466.890468,266.620102,199.863313,151.423936,121.709023

In [18]:
vehicles

     3600    7200   10800   14400   18000   21600
21  995.8  1126.9   869.1   737.7   690.2   647.5
22  427.9   602.5   459.0   392.2   364.7   331.1
27  907.6  1477.2  1334.6  1185.6  1131.3  1103.8
28  436.4   394.1   242.1   165.6   146.0   125.3

In [19]:
vehicles / Vsum

        3600      7200     10800     14400     18000     21600
21  0.900722  0.990849  1.020602  0.979617  0.978419  0.981308
22  1.399751  1.313353  1.140157  0.992286  0.992194  0.998045
27  0.729369  0.939670  1.042507  1.078356  1.075558  1.081644
28  0.791214  0.844095  0.908034  0.828566  0.964180  1.029505