In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

In [2]:
root_dir = '/Users/kessapassa/OneDrive/research_log/20190114/'

In [3]:
dir_list = ['people10000', 'people20000', 'people30000']
seed_list = [str(123 + i) for i in range(3)]
csv_list = ['census', 'mobile']

In [4]:
# 2Dをdatetime型にする
import datetime
def create_datetime(row):
    base_date = '00:00:00'
    hours = int(row['time'] / 3600)
    seconds = int(row['area'])
    
    tdatatime = datetime.datetime.strptime(base_date, '%H:%M:%S')
    tdatatime += datetime.timedelta(hours=hours)
    tdatatime += datetime.timedelta(hours=hours, seconds=seconds)
    
    return tdatatime

In [9]:
csv_array = {}
for _dir in dir_list:
    csv_array[_dir] = {}
    for _seed in seed_list:
        csv_array[_dir][_seed] = {}
        for _csv in csv_list:
            csv_array[_dir][_seed][_csv] = {}
            
            df = pd.read_csv(root_dir + '2D/' + _dir + 'seed' + _seed + '_' + _csv + '.csv',
                                                encoding='Shift_JISx0213')
            df = df.groupby(['area'])
            for _area, _group in df:
                _area = int(_area)
                _group = _group.T
                _group.loc['ds', :] = _group.apply(create_datetime)
                _group = _group.T.drop(['time', 'area'], axis=1)
                # dsとyを指定してくるので
                _group = _group[['ds', 'people']].rename(columns={'ds': 'ds', 'people': 'y'})
                _group['y'] = _group['y'].apply(lambda x: int(x))
                csv_array[_dir][_seed][_csv][_area] = _group
#                 _group.to_csv(root_dir + 'datetime_per_area/' + _dir + 'seed' + _seed + '_' + _csv + str(_area) + '.csv')

In [6]:
people = 'people30000'
csv = 'census'
seed = '123'
area = '21'
df = csv_array[people][seed][csv][_area].copy()
df

                                ds  y
80   1900-01-01T02:01:20.000000000  0
161  1900-01-01T04:01:20.000000000  0
242  1900-01-01T06:01:20.000000000  0
323  1900-01-01T08:01:20.000000000  0
404  1900-01-01T10:01:20.000000000  0
485  1900-01-01T12:01:20.000000000  0