In [1]:
import pandas as pd
import numpy as np
import math
from matplotlib import pyplot as plt

In [2]:
root_dir = '/Users/kessapassa/OneDrive/research_log/2018_Graduate/3D/'

In [3]:
dir_list = ['people10000', 'people20000', 'people30000']
seed_list = [str(123 + i) for i in range(3)]
csv_list = ['census', 'mobile']

In [4]:
csv_array = {}
for _dir in dir_list:
    csv_array[_dir] = {}
    for _seed in seed_list:
        csv_array[_dir][_seed] = {}
        for _csv in csv_list:
            csv_array[_dir][_seed][_csv] = pd.read_csv(root_dir + _dir + 'seed' + _seed + '_' + _csv + '.csv',
                                                index_col=0,
                                                encoding='Shift_JISx0213')

In [5]:
# なぜかこの時だけ21600がないので0で補間する
csv_array['people10000']['123']['census']['21600'] = 0

# 変化率 = 各メッシュの人数 / 全体の人数

In [6]:
def get_ratio_per_sum(base):
    row_sum = base.sum()
    for index in range(len(base.columns)):
        base.iloc[:, index] /= base.iloc[:, index].sum()
        
    base = base.append(row_sum, ignore_index=True)
    base.rename(index={len(base.index)-1: 'sum'}, inplace=True)
    base = base.round(4)
    base = base.applymap(lambda x: np.nan if x <= 0.001 else x)
    base.dropna(how='all', inplace=True)
    
    return base

In [7]:
def get_ratio_per_time(base):
    copy = base.copy()
    for _times in range(6 - 1):
        base.iloc[:, _times+1] = copy.iloc[:, _times+1] / copy.iloc[:, _times]
#         base.iloc[:, 0] = base.iloc[:, 0].apply(lambda x: 0 if x == 0 else 1)
    base = base.round(4)
    
    return base

In [8]:
df_mobile = {}
df_census = {}
for _dir in dir_list:
    df_mobile[_dir] = {}
    df_census[_dir] = {}
    for _seed in seed_list:
        df = csv_array[_dir][_seed]['mobile'].copy()
        df_mobile[_dir][_seed] = get_ratio_per_sum(df)

        df = csv_array[_dir][_seed]['census'].copy()
        df_census[_dir][_seed] = get_ratio_per_sum(df)

In [9]:
people = 'people20000'
seed = '123'

In [10]:
df_mobile[people][seed]

           3600        7200       10800       14400      18000      21600
1        0.0026         NaN         NaN         NaN        NaN        NaN
6        0.0061      0.0031      0.0019      0.0022     0.0022     0.0037
7        0.0021         NaN         NaN         NaN        NaN        NaN
8        0.0060      0.0021         NaN         NaN        NaN     0.0012
13       0.0019         NaN         NaN         NaN        NaN        NaN
14       0.0156      0.0046      0.0033      0.0024     0.0020     0.0025
15       0.0187      0.0065      0.0038      0.0020     0.0033     0.0086
16       0.0030         NaN         NaN         NaN        NaN     0.0049
19       0.0032         NaN         NaN         NaN        NaN     0.0018
20       0.0033         NaN         NaN         NaN        NaN     0.0012
21       0.2247      0.2656      0.2757      0.2963     0.3037     0.2856
22       0.1748      0.1727      0.1782      0.1766     0.1691     0.1837
23       0.0028         NaN         NaN         NaN        NaN        NaN
26       0.0061         NaN         NaN         NaN        NaN     0.0018
27       0.2868      0.3178      0.3456      0.3586     0.3804     0.3354
28       0.1921      0.2093      0.1772      0.1526     0.1297     0.1450
32       0.0024         NaN         NaN         NaN        NaN     0.0018
33       0.0332      0.0080      0.0067      0.0041     0.0042     0.0178
34       0.0078      0.0022      0.0022         NaN        NaN     0.0018
35       0.0018         NaN         NaN         NaN        NaN        NaN
sum  17921.0000  13357.0000  11850.0000  10590.0000  9710.0000  1628.0000

In [11]:
df_census[people][seed]

           3600       7200      10800      14400      18000      21600
2        0.0023     0.0018        NaN        NaN        NaN        NaN
6        0.0290     0.0189     0.0036     0.0088     0.0059     0.0073
8        0.0124     0.0056     0.0018     0.0016     0.0033     0.0041
9        0.0042     0.0027     0.0012        NaN        NaN        NaN
12       0.0045     0.0067        NaN     0.0027     0.0026     0.0016
13       0.0182     0.0153     0.0027     0.0082     0.0052     0.0049
14       0.0814     0.0429     0.0200     0.0203     0.0254     0.0179
15       0.0551     0.0469     0.0203     0.0225     0.0189     0.0130
16       0.0017        NaN        NaN        NaN        NaN        NaN
17       0.0015        NaN        NaN        NaN        NaN        NaN
18       0.0032     0.0011        NaN     0.0011        NaN        NaN
19       0.0036     0.0024        NaN     0.0016     0.0013        NaN
20       0.0152     0.0104     0.0027     0.0033     0.0059     0.0041
21       0.1999     0.1615     0.1977     0.1933     0.3572     0.3941
22       0.0909     0.1524     0.1199     0.1263     0.0846     0.0643
23       0.0042     0.0031        NaN     0.0016        NaN        NaN
25       0.0092     0.0040     0.0012        NaN        NaN        NaN
26       0.0127     0.0073     0.0030     0.0038     0.0020     0.0016
27       0.2039     0.2020     0.2350     0.2004     0.2010     0.2581
28       0.1275     0.2066     0.3002     0.3218     0.2225     0.1922
31       0.0062     0.0020     0.0024     0.0027        NaN        NaN
32       0.0122     0.0076     0.0027     0.0049     0.0020     0.0016
33       0.0496     0.0462     0.0407     0.0489     0.0351     0.0212
34       0.0342     0.0311     0.0239     0.0165     0.0150     0.0073
35       0.0148     0.0200     0.0197     0.0088     0.0104     0.0057
sum  27544.0000  4501.0000  3344.0000  1821.0000  1537.0000  1228.0000

In [12]:
csv_array[people][seed]['census']

      3600   7200   10800  14400  18000  21600
0      4.0    0.0     0.0    0.0    0.0    0.0
1     23.0    0.0     0.0    0.0    0.0    0.0
2     64.0    8.0     0.0    0.0    0.0    0.0
3      0.0    0.0     0.0    0.0    0.0    0.0
4      0.0    0.0     0.0    0.0    0.0    0.0
5      0.0    0.0     0.0    0.0    0.0    0.0
6    798.0   85.0    12.0   16.0    9.0    9.0
7     24.0    2.0     0.0    0.0    0.0    0.0
8    341.0   25.0     6.0    3.0    5.0    5.0
9    117.0   12.0     4.0    0.0    0.0    0.0
10     0.0    0.0     0.0    0.0    0.0    0.0
11     0.0    0.0     0.0    0.0    0.0    0.0
12   124.0   30.0     0.0    5.0    4.0    2.0
13   501.0   69.0     9.0   15.0    8.0    6.0
14  2243.0  193.0    67.0   37.0   39.0   22.0
15  1519.0  211.0    68.0   41.0   29.0   16.0
16    46.0    1.0     0.0    0.0    0.0    0.0
17    41.0    4.0     0.0    0.0    0.0    0.0
18    87.0    5.0     2.0    2.0    0.0    0.0
19    98.0   11.0     1.0    3.0    2.0    0.0
20   419.0   47.0     9.0    6.0    9.0    5.0
21  5507.0  727.0   661.0  352.0  549.0  484.0
22  2504.0  686.0   401.0  230.0  130.0   79.0
23   116.0   14.0     1.0    3.0    1.0    1.0
24     4.0    0.0     0.0    0.0    0.0    0.0
25   254.0   18.0     4.0    1.0    1.0    0.0
26   350.0   33.0    10.0    7.0    3.0    2.0
27  5615.0  909.0   786.0  365.0  309.0  317.0
28  3513.0  930.0  1004.0  586.0  342.0  236.0
29    10.0    0.0     0.0    0.0    0.0    0.0
30     0.0    0.0     0.0    0.0    0.0    0.0
31   171.0    9.0     8.0    5.0    1.0    0.0
32   335.0   34.0     9.0    9.0    3.0    2.0
33  1367.0  208.0   136.0   89.0   54.0   26.0
34   942.0  140.0    80.0   30.0   23.0    9.0
35   407.0   90.0    66.0   16.0   16.0    7.0